body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;

}
.header{
    /* width: 1920px; */
    height: 610px;
    background-color: #E554731A;
    display: flex;
    align-items: center;
    padding: 40px 200px 0px 200px;
}
.header img{
   width: 550px;
    height: 610px;

}
.header-title{
    color: #272727;
font-size: 50px;
font-weight: 900;
margin-bottom: 10px;

}
.header-description{
color: rgba(39, 39, 39, 0.60);
font-size: 16px;
font-weight: 400;
line-height: 30px;
}

.btn-primary{
    border-radius: 6px;
background: #E55473;
border: 0;
padding: 15px 30px;
font-size: 20px;
color: Browse plugins;
color: #FFF;
}

/* -------------header style end */


/* -----------------main--------------- */
main{
    margin-top: 65px;
}

/* ----------------our feature flower section------------ */
.featured-flower-section{
    padding: 20px 240px 20px 240px;
}
.featured-flower-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 900;
margin-bottom: 0;

}
.featured-flower-description{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 16px;
font-weight: 400;
margin-bottom: 60px;

}
.flowers-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.flower-list img{
    width: 290px;
    height: 360px;

}
.flower-list .pink-flower{
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    text-decoration: underline;
}
#flower-one{
    background-color: #A7216226;
    padding:45px 35px 0px 35px ;
    border-radius: 300px 300px 0px 0px;

}
#flower-two{
    background-color: #0597A026;
    padding:45px 35px 0px 35px ;
    border-radius: 300px 300px 0px 0px;


}
#flower-three{
    background-color: #477D1126;
    padding:45px 35px 0px 35px ;
    border-radius: 300px 300px 0px 0px;

}


/* ------------------------for bonus section-------------------- */
.Bouquet-item-section{
    background-color:#a1afaf11 ;
    padding: 50px;
   
  }
  .Bouquet-item-title{
      color: #a44c56;
      font-size: 30px;
      font-weight: 900;
      text-align: center;
      margin-bottom: 10px;
  }
  .Bouquet-item-description{
  color: rgba(39, 39, 39, 0.60);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 60px;
  }
  .Bouquet-container{
      display: flex;
      justify-content: center;
      gap: 20px;
  }
  .Bouquet-container img{
      width: 240px;
      height: 300px;
      border-radius: 5px;
  }
/* -------------------service section------------------- */
.service-section{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin:80px 180px ;
    padding: 65px 60px;
}

.service-section{
    display: flex;
    justify-content: center;
    gap: 80px;
    
}
.service-list{
    text-align: center;
    
}
.service-list img{
    width: 75px;
}

  
  /* -----------------------------Hot deal section------------------- */
  .Hot-deal-section{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;
      background-color: #E554730D;
      margin: 70px 0px;
      padding: 70px 20px;
  }
  .Hot-deal-section .hot-deal-banner{
      text-align: center;
  }
  .Hot-deal-section img{
      width: 255px;
  }
  .hot-deal-title{
  color: #272727;
  font-size: 30px;
  font-weight: 900;
  }
  .hot-deal-title .off{
      color: #E55473;
  }
  .hot-deal-description{
  color: rgba(39, 39, 39, 0.60);
  font-size: 16px;
  font-weight: 400;
  }

/* -----------------------instagram section ------------------- */
.instagram-section{
    padding: 5px 60px 80px 60px;
}
.instagram-title{
color: #272727;
text-align: center;
font-size: 30px;
font-weight: 900;
}
.instagram-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 60px;

}
.flower-img-container{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.flower-img-container img{
    width: 270px;
    height: 317px;
}


/* -------------------latest deal section ------------------ */
.latest-deal-section{
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    padding: 60px;
    margin:20px 173px ;
    background-repeat: no-repeat;
    background-size: cover;


}
.latest-deal-container{
    text-align: center;
}
.latest-deal-title{
color: #272727;
font-size: 35px;
font-weight: 900;
margin-bottom: 5px;
}
.latest-deal-description{
color: rgba(39, 39, 39, 0.60);
font-size: 16px;
font-weight: 400;
margin-top: 0;
}
input{
 width: 490px;
height: 49px;
border-radius: 8px;
background: #FFF;
font-size: 18px;
padding-left: 30px;
margin:10px;
border: none;

}

/* ----------------------------footer ----------------- */
footer{
background-color: #111010;
text-align: center;
padding: 60px;
margin-top: 100px;

}
.footer-title{
color: #E55473;
font-size: 40px;
font-weight: 900;
margin-bottom: 10px;
}
.footer-title .shop{
    color: #FFF;
}
.footer-description{
color: rgba(255, 255, 255, 0.90);
font-size: 16px;
font-weight: 400;
}
.footer-copyright{
color: rgba(255, 255, 255, 0.40);
font-family: Lato;
font-size: 15px;
font-weight: 400;
}