body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;

}
.header{
    /* width: 1920px; */
    height: 660px;
    background-color: #E554731A;
    display: flex;
    align-items: center;
    padding: 50px 210px 0px 210px;
}
.header img{
   width: 550px;
    height: 660px;

}
.header-title{
    color: #272727;
font-size: 60px;
font-weight: 900;
margin-bottom: 10px;

}
.header-description{
color: rgba(39, 39, 39, 0.60);
font-size: 16px;
font-weight: 400;
line-height: 30px;
}

.btn-primary{
    border-radius: 6px;
background: #E55473;
border: 0;
padding: 15px 30px;
font-size: 20px;
color: Browse plugins;
color: #FFF;


}